In [1]:
'''Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?'''

'Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use\nMongoDB over SQL databases?'

In [2]:
'''MongoDb ==> It is a NoSql database which stores data in form of collection and are preferred in case of storing unstructured data'''

'MongoDb ==> It is a NoSql database which stores data in form of collection and are preferred in case of storing unstructured data'

In [3]:
'''Q2. State and Explain the features of MongoDB.'''

'Q2. State and Explain the features of MongoDB.'

In [4]:
'''Document Model, shrading, Replication, Indexing, Load balancing etc...'''

'Document Model, shrading, Replication, Indexing, Load balancing etc...'

In [5]:
'''Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.'''

'Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.'

In [20]:
import pymongo
client = pymongo.MongoClient('mongodb+srv://piyushpatel:passpassword@cluster0.4xaco.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0')
db = client.test

In [21]:
db

Database(MongoClient(host=['cluster0-shard-00-01.4xaco.mongodb.net:27017', 'cluster0-shard-00-02.4xaco.mongodb.net:27017', 'cluster0-shard-00-00.4xaco.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='Cluster0', authsource='admin', replicaset='atlas-7nf6ho-shard-0', tls=True), 'test')

In [22]:
'''Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.'''

'Q4. Using the database and the collection created in question number 3, write a code to insert one record,\nand insert many records. Use the find() and find_one() methods to print the inserted record.'

In [23]:
db = client['pwskills_assignment']

In [24]:
coll = db['test_coll']

In [25]:
data = {'name':'pwskills','course':'Data Science Masters'}

In [26]:
coll.insert_one(data)

InsertOneResult(ObjectId('66c6cc2ee01b9fdd419faba9'), acknowledged=True)

In [27]:
data2 = [
    {"name":"piyush patel","course":"Data Science Masters"},
{"name":"Gopal patel","course":"Data Science Masters"},
{"name":"Parul patel","course":"Data Science Masters"},
{"name":"Pragati patel","course":"Data Science Masters"},
{"name":"Abhiudhay Upadhyay","course":"Data Science Masters"},
{"name":"Lovely Goyal","course":"Web dev"},
{"name":"Shaminder Singh","course":"web dev"},
{"name":"Samsher Singh","course":"Data Science Masters"},
{"name":"Manpreet Kaur","course":"web dev"},
{"name":"Manali mittal","course":"Data Science Masters"},
{"name":"Deepika Rani","course":"web dev"}
]

In [28]:
coll.insert_many(data2)

InsertManyResult([ObjectId('66c6cc4ee01b9fdd419fabaa'), ObjectId('66c6cc4ee01b9fdd419fabab'), ObjectId('66c6cc4ee01b9fdd419fabac'), ObjectId('66c6cc4ee01b9fdd419fabad'), ObjectId('66c6cc4ee01b9fdd419fabae'), ObjectId('66c6cc4ee01b9fdd419fabaf'), ObjectId('66c6cc4ee01b9fdd419fabb0'), ObjectId('66c6cc4ee01b9fdd419fabb1'), ObjectId('66c6cc4ee01b9fdd419fabb2'), ObjectId('66c6cc4ee01b9fdd419fabb3'), ObjectId('66c6cc4ee01b9fdd419fabb4')], acknowledged=True)

In [29]:
coll.find_one()

{'_id': ObjectId('66c6cc2ee01b9fdd419faba9'),
 'name': 'pwskills',
 'course': 'Data Science Masters'}

In [30]:
for i in coll.find():
    print(i)

{'_id': ObjectId('66c6cc2ee01b9fdd419faba9'), 'name': 'pwskills', 'course': 'Data Science Masters'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabaa'), 'name': 'piyush patel', 'course': 'Data Science Masters'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabab'), 'name': 'Gopal patel', 'course': 'Data Science Masters'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabac'), 'name': 'Parul patel', 'course': 'Data Science Masters'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabad'), 'name': 'Pragati patel', 'course': 'Data Science Masters'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabae'), 'name': 'Abhiudhay Upadhyay', 'course': 'Data Science Masters'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabaf'), 'name': 'Lovely Goyal', 'course': 'Web dev'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabb0'), 'name': 'Shaminder Singh', 'course': 'web dev'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabb1'), 'name': 'Samsher Singh', 'course': 'Data Science Masters'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabb2'), 'name': 'Manpreet Kaur', 'course': 'web dev'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabb3'), 'name': 'Manali mittal', 'course': 'Data Science Masters'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabb4'), 'name': 'Deepika Rani', 'course': 'web dev'}

In [31]:
'''Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.'''

'Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to\ndemonstrate this.'

In [33]:
for i in coll.find({'course':'web dev'}):
    print(i)

{'_id': ObjectId('66c6cc4ee01b9fdd419fabb0'), 'name': 'Shaminder Singh', 'course': 'web dev'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabb2'), 'name': 'Manpreet Kaur', 'course': 'web dev'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabb4'), 'name': 'Deepika Rani', 'course': 'web dev'}

In [34]:
'''Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.'''

'Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.'

In [36]:
for i in coll.find({'course':'web dev'}).sort("name"):
    print(i)

{'_id': ObjectId('66c6cc4ee01b9fdd419fabb4'), 'name': 'Deepika Rani', 'course': 'web dev'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabb2'), 'name': 'Manpreet Kaur', 'course': 'web dev'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabb0'), 'name': 'Shaminder Singh', 'course': 'web dev'}

In [37]:
'''Q7. Explain why delete_one(), delete_many(), and drop() is used.'''

'Q7. Explain why delete_one(), delete_many(), and drop() is used.'

In [39]:
coll.delete_one({'name':'Deepika Rani'})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000062'), 'opTime': {'ts': Timestamp(1724304756, 13), 't': 98}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1724304756, 13), 'signature': {'hash': b'K ^T[\x80\xd6\x97n\xbb\x9c\x96\x0f\xd9\n\xf2\xbc\x1f\xe5Q', 'keyId': 7359288292598087681}}, 'operationTime': Timestamp(1724304756, 13)}, acknowledged=True)

In [40]:
coll.delete_many({'course':'web dev'})

DeleteResult({'n': 2, 'electionId': ObjectId('7fffffff0000000000000062'), 'opTime': {'ts': Timestamp(1724304779, 7), 't': 98}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1724304779, 8), 'signature': {'hash': b'\xbb\x0c\x81\xac\xff\x17\x80X~\x16S\x8c>m\x80\xde\xc9e\xc4o', 'keyId': 7359288292598087681}}, 'operationTime': Timestamp(1724304779, 7)}, acknowledged=True)

In [41]:
for i in coll.find():
    print(i)

{'_id': ObjectId('66c6cc2ee01b9fdd419faba9'), 'name': 'pwskills', 'course': 'Data Science Masters'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabaa'), 'name': 'piyush patel', 'course': 'Data Science Masters'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabab'), 'name': 'Gopal patel', 'course': 'Data Science Masters'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabac'), 'name': 'Parul patel', 'course': 'Data Science Masters'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabad'), 'name': 'Pragati patel', 'course': 'Data Science Masters'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabae'), 'name': 'Abhiudhay Upadhyay', 'course': 'Data Science Masters'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabaf'), 'name': 'Lovely Goyal', 'course': 'Web dev'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabb1'), 'name': 'Samsher Singh', 'course': 'Data Science Masters'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabb3'), 'name': 'Manali mittal', 'course': 'Data Science Masters'}

In [42]:
db.drop_collection('coll')

{'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1724304832, 2),
  'signature': {'hash': b'*h1\x89\x03\xa1#>\x0b\xc0\xce\xc5\xa5\x85\xc6e\xa9\t\x94\xb3',
   'keyId': 7359288292598087681}},
 'operationTime': Timestamp(1724304832, 2)}

In [43]:
for i in coll.find():
    print(i)

{'_id': ObjectId('66c6cc2ee01b9fdd419faba9'), 'name': 'pwskills', 'course': 'Data Science Masters'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabaa'), 'name': 'piyush patel', 'course': 'Data Science Masters'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabab'), 'name': 'Gopal patel', 'course': 'Data Science Masters'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabac'), 'name': 'Parul patel', 'course': 'Data Science Masters'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabad'), 'name': 'Pragati patel', 'course': 'Data Science Masters'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabae'), 'name': 'Abhiudhay Upadhyay', 'course': 'Data Science Masters'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabaf'), 'name': 'Lovely Goyal', 'course': 'Web dev'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabb1'), 'name': 'Samsher Singh', 'course': 'Data Science Masters'}
{'_id': ObjectId('66c6cc4ee01b9fdd419fabb3'), 'name': 'Manali mittal', 'course': 'Data Science Masters'}

In [44]:
coll.drop()

In [45]:
for i in coll.find():
    print(i)