In [1]:
# Q1. Create a function which will take a list as an argument and return the product of all the numbers after creating a flat list.  Use the below-given list as an argument for your function.   
#list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45, 22, 61, 34)}, [56, 'data science'], 'Machine Learning']

In [2]:
list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45, 22, 61, 34)}, [56, 'data science'], 'Machine Learning']

In [3]:
l1 = []

In [4]:
l1

[]

In [5]:
def number(l,l1):
    for i in l:
        if type(i) == int or type(i) == float:
            l1.append(i)

In [6]:
def number_list(l,l1):
    number(l,l1)

In [7]:
def number_tuple(l,l1):
    number(l,l1)

In [8]:
def number_set(l,l1):
    number(l,l1)

In [9]:
from functools import reduce
def product_of_number(l,l1):
    for j in l:
        if type(j) == int or type(j) == float:
            l1.append(j)
        elif type(j) == list:
            number_list(j,l1)
        elif type(j) == tuple:
            number_tuple(j,l1)
        elif type(j) == set:
            number_set(j,l1)
        elif type(j) == dict:
            for k,v in j.items():
                if type(k) == int:
                    l1.append(k)
                if type(v) == int:
                    l1.append(v)
                if type(v) == list:
                    number_list(v,l1)
                if type(v) == tuple:
                    number_tuple(v,l1)
                
    product = reduce(lambda x,y: x*y,l1)
    return product

In [10]:
product_of_number(list1,l1)

4134711838987085478833841242112000

In [11]:
l1

[1,
 2,
 3,
 4,
 44,
 55,
 66,
 34,
 56,
 78,
 89,
 34,
 1,
 2,
 3,
 1,
 34,
 55,
 67,
 78,
 89,
 4,
 45,
 22,
 61,
 34,
 56]

In [12]:
'''Q2. Write a python program for encrypting a message sent to you by your friend. The logic of encryption should be such that, for a the output should be z. For b, the output should be y. For c, the output should be x respectively. Also, the whitespace should be replaced with a dollar sign. Keep the punctuation marks unchanged.   
Input Sentence: I want to become a Data Scientist.
'''

'Q2. Write a python program for encrypting a message sent to you by your friend. The logic of encryption should be such that, for a the output should be z. For b, the output should be y. For c, the output should be x respectively. Also, the whitespace should be replaced with a dollar sign. Keep the punctuation marks unchanged.   \nInput Sentence: I want to become a Data Scientist.\n'

In [13]:
s = 'I want to become a Data Scientist'

In [14]:
s1 = s.replace('a','z').replace('b','y').replace('c','x').replace(' ','$')

In [15]:
s1

'I$wznt$to$yexome$z$Dztz$Sxientist'